body {

}
.header {
    width: 100%;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.nav {
display: flex;
    list-style-type: none;
    justify-content: flex-start;

}
.nav>li {
    margin-left: 15px;

}
a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: red;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin: 25px;

}
.image {
    display: flex;
    margin: 0;
    justify-content: center;
    padding:0 ;

}
.title {
    display: flex;
    justify-content: center;
    margin-top: 48px; margin-left: 253px; margin-right:253px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
 p {
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     text-align: center;
     letter-spacing: 2.4px;
     color:  #373737;
 }
 .text {
     display: block;
     justify-content: center;
     margin: 30px 68px 30px 68px;
 }
 #text1 {
     display: flex;
     justify-content: center;
 }
 #get {
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
     font-size: 12px;
     line-height: 12px;
     background: red;
     border-radius: 4px;
     color: white;
     padding: 18px 42px;
     border: none;
     margin: 66px;
     cursor: pointer;
 }
 .buttom {
     display: flex;
     justify-content: center;

 }

 .footer_text {
     display: flex;
     justify-content: flex-end;
     margin: 82px 105px 29px 105px;
 }
.footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}

body.dark  {
  background: black;
}
.dark a {
color: white;
}
.dark #get {
    background: white;
    color: black;
}

